:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1em;
}

.preview {
  border: 1px black solid;
  padding: 1em;
  margin-bottom: 1em;
  flex-grow: 1;
  overflow-y: auto;
  font-family: 'Open Sans', sans-serif;

}
.footer{
  display: flex;
  justify-content: space-between;
  form{
    align-items: stretch;
    .button-bar{
      display: flex;
      justify-content: space-between;
    }
  }
}
signature-pad{
  border:1px black dotted;
}
