<div class="preview">
    <div class="header">
        <h1>ATTESTATION DE DÉPLACEMENT DÉROGATOIRE</h1>
        <p>En application de l’article 1er du décret du 16 mars 2020 portant réglementation des
            déplacements dans le cadre de la lutte contre la propagation du virus Covid-19 :</p>
    </div>
    <p class="section__title">Je soussigné(e)</p>
    <div class="section">
        <p class="section__title">Mme/M.</p>
        <p class="section__value">{{certificate.name}}</p>
    </div>

    <div class="section">
        <p class="section__title">Né(e) le :</p>
        <p class="section__value">{{certificate.birthDate|date}}</p>
    </div>

    <div class="section">
        <p class="section__title">Demeurant :</p>
        <p class="section__value">{{certificate.address}}</p>

    </div>
    <p>certifie que mon déplacement est lié au motif suivant (cocher la case) autorisé par
        l’article 1er du décret du 16 mars 2020 portant réglementation des déplacements dans
        le cadre de la lutte contre la propagation du virus Covid-19 :</p>
    <div class="reasons">
        <div class="reason">
            <mat-checkbox disabled="true" [checked]="certificate.reason === GoingOutReason.WORK"></mat-checkbox>
            <p>déplacements entre le domicile et le lieu d’exercice de l’activité professionnelle,
                lorsqu’ils sont indispensables à l’exercice d’activités ne pouvant être organisées
                sous forme de télétravail (sur justificatif permanent) ou déplacements
                professionnels ne pouvant être différés ;</p>
        </div>
        <div class="reason">
            <mat-checkbox disabled="true" [checked]="certificate.reason === GoingOutReason.SHOPPING"></mat-checkbox>
            <p>déplacements pour effectuer des achats de première nécessité dans des
                établissements autorisés (liste sur gouvernement.fr);</p>
        </div>
        <div class="reason">
            <mat-checkbox disabled="true" [checked]="certificate.reason  === GoingOutReason.HEALTH"></mat-checkbox>
            <p>déplacements pour motif de santé;</p>
        </div>
        <div class="reason">
            <mat-checkbox disabled="true" [checked]="certificate.reason  === GoingOutReason.COMPELLING_FAMILY_REASON"></mat-checkbox>
            <p>déplacements pour motif familial impérieux, pour l’assistance aux personnes
                vulnérables ou la garde d’enfants ;</p>
        </div>
        <div class="reason">
            <mat-checkbox disabled="true" [checked]="certificate.reason  === GoingOutReason.FRESH_AIR"></mat-checkbox>
            <p>déplacements brefs, à proximité du domicile, liés à l’activité physique individuelle
                des personnes, à l’exclusion de toute pratique sportive collective, et aux besoins
                des animaux de compagnie.</p>
        </div>
    </div>
</div>
<div class="footer">
    <button mat-button color="primary" (click)="modifyRequested.emit()"> <mat-icon aria-hidden="false" aria-label="Corriger">undo</mat-icon> Corriger</button>
    <form #form="ngForm" (ngSubmit)="validated.emit()">
        <div>
            <mat-form-field>
                <mat-label>Fait à</mat-label>
                <input matInput placeholder="Ex. Paris" [(ngModel)]="certificate.location" name="location" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>le :</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="certificate.date" name="date" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <button type="submit" mat-button mat-raised-button color="primary" [disabled]="form.invalid">Signature</button>
    </form>
</div>
