<div class="warning">
    Attention ! Selon
    <a href="http://www.leparisien.fr/societe/confinement-non-l-attestation-de-deplacement-n-est-pas-valable-sur-smartphone-18-03-2020-8282709.php"
       target="_blank">cet article</a>
    les attestations numériques ne sont plus valables.
</div>
<div class="warning">
    Attention ! Cette attestation n'est plus valide à compter du 23/03/2020.
    Merci de créer une 
    <a href="https://github.com/blue-seagull/attestation-deplacement/issues" target="_blank"> issue sur github</a> si vous souhaitez une mise à jour.
</div>
<div [ngSwitch]="step">
    <app-certificate-form
            *ngSwitchCase="1"
            [certificate]="certificate"
            (submitted)="step=2"></app-certificate-form>
    <app-certificate-review
            *ngSwitchCase="2"
            [certificate]="certificate"
            (modifyRequested)="step=1"
            (validated)="step=3"></app-certificate-review>
    <app-certificate
            *ngSwitchCase="3"
            [footerDisplayed]="true"
            [certificate]="certificate"></app-certificate>
</div>
